/* Card */
.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 3 / 3.2;
  border-radius: 12px;
  background: #ccc;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

/* Card hover */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* Image */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Badge */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 9px;
  font-weight: 600;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Badge hover */
.badge:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* Badge mobile */
.badge_mobile {
  display: none;
}

/* Badge desktop */
.badge_desktop {
  display: inline-block;
}

/* Dot */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #22c55e;
  flex-shrink: 0;
}

/* Label */
.label {
  position: absolute;
  inset: auto 12px 12px;
  padding: 15px 14px;
  background: #e8651a;
  color: #fff;
  border-radius: 8px;
  font:
    600 0.875rem/1.3 system-ui,
    sans-serif;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  font-size: 60%;
}

/* Media queries */
/* Tablet */
@media (max-width: 1100px) {
  .card {
    aspect-ratio: 5 / 3;
  }

  .label {
    font-size: 100%;
  }

  .badge {
    padding: 10px 15px;
  }
}

/* Mobile */
@media (max-width: 667px) {
  .card {
    aspect-ratio: 10 / 2.8;
  }

  .badge {
    top: 40%;
    right: 20px;
  }

  .image {
    filter: brightness(0.5);
  }

  .badge_mobile {
    display: inline-block;
  }

  .badge_desktop {
    display: none;
  }

  .label {
    background: transparent;
    left: 45%;
    top: 35%;
    right: auto;
    transform: translateX(-50%);
    width: 80%;
  }
}
